{% extends 'base.html.twig' %}

{% block body %}
    {% include'nav/nav.html.twig' %}
    {% include 'body/body.html.twig' %}


{% endblock %}


{% block stylesheets %}
<style rel="stylesheet">
    .nice {
        border: solid #369 1px;
        background: #fff;
        margin-top: 80px;
        width: 100%;
        max-width: 500px;
        box-shadow: 0 0 0 2px #fff;
    }

    .nice .NFI-button {
        height: 40px;
        line-height: 40px;
        background: #369;
        color: #fff;
        width: 30%;
    }

    .nice .NFI-button:hover {
        background: #147;
    }

    .nice .NFI-filename {
        display: block;
        width: 70%;
        height: 40px;
        margin: 0;
        padding: 0;
        border: none;
    }

    .nice .NFI-filename:focus {
        border: none;
    }



</style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            // your code...
            $("input[type=file]").nicefileinput({
                label : 'Choose Torrent' // Spanish label
            });
        });

        $("#torrent_file").on("change", function(e) {
            e.preventDefault();

            var formData = new FormData($('#torrent_upload')[0]);

            $.ajax({
                url: "{{ url('torrent_create') }}",
                method: "POST",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
            })
            .done(function (response) {
                var responseParsed = JSON.parse(response);
                console.log(responseParsed);
            });
        });

        function checkStatus() {

        }

    </script>
{% endblock %}
