<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-6">
            <form class="pure-form" enctype="multipart/form-data" id="torrent_upload" method="post">
                <fieldset>
                    <input class="nice" type="file" id="torrent_file" name="torrent_file"/>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-6">

            <div class="w3-light-grey w3-large">
                <div class="w3-container w3-green w3-center w3-round" style="width:50%">50%</div>
            </div>
        </div>
    </div>

</div>